<!-- Everything is inside of here -->
<div class="container">
  <!--

    The "enter your name" box -->
  <div class="header">
    <mat-form-field>
      <input
        matInput
        placeholder="Your name here"
        type="text"
        [(ngModel)]="sender"
        [ngModelOptions]="{ updateOn: 'blur' }"
      />
    </mat-form-field>
  </div>
  <!--

    The messages view
   -->
  <div *ngIf="!!sender" #viewer class="body">
    <div class="viewer">
      <div
        class="message"
        *ngFor="let msg of serverMessages"
        [ngClass]="{ bold: msg.isBroadcast, others: !isMine(msg) }"
      >
        <div
          class="badge"
          [style.backgroundColor]="getSenderColor(msg.sender)"
          title="{{ msg.sender }}"
        >
          {{ getSenderInitials(msg.sender) }}
        </div>
        <div
          class="content"
          [ngClass]="{ bold: msg.isBroadcast, others: !isMine(msg) }"
        >
          <i *ngIf="msg.isBroadcast" class="material-icons">speaker_phone</i>
          <span>{{ msg.content }}</span>
        </div>
      </div>
    </div>
  </div>

  <!--

    The bottom bar
   -->
  <div *ngIf="!!sender" class="footer">
    <form (submit)="send()">
      <!--

        A place to enter a message
       -->
      <mat-form-field>
        <input
          name="clientMessage"
          matInput
          placeholder="Write a message"
          type="text"
          [(ngModel)]="clientMessage"
        />
      </mat-form-field>

      <!--

        The submit button
       -->
      <button mat-fab type="submit" [disabled]="clientMessage.length === 0">
        <i class="material-icons">send</i>
      </button>

      <!--

        The broadcast button
       -->
      <button mat-fab (click)="onEnableCam()" type="button">
        <i class="material-icons">videocam</i>
      </button>
    </form>
  </div>
</div>

<br />

<img alt="image here" id="theImageGoesHere" class="theImageGoesHere" />

<!-- The unused router outlet -->
<router-outlet></router-outlet>
